<div id="magic-row" class="d-flex align-self-center">
  <div id="special-col" class="col">
    <div id="jumbotron">
       <div class="row">
         <div class="col col-sm-12 col-md-8 offset-md-2">
           <h1 id="title">
             What is ASWWU?
           </h1>
         </div>
       </div>
       <div class="row">
         <div class="col col-sm-12 col-md-8 offset-md-2">
           <div class="rotator">
              <h3>a business</h3>
              <h3>a film studio</h3>
              <h3>a newspaper</h3>
              <h3>a creative outlet</h3>
              <h3>a world mission</h3>
              <h3>a government</h3>
              <h3>a brand</h3>
              <h3>a company</h3>
            </div>
         </div>
       </div>
       <div class="row">
         <div class="col col-sm-12 col-md-8 offset-md-2">
           <h2> your next job opportunity</h2>
         </div>
       </div>
    </div>

    <!-- Search Bar -->
    <div id="searchBar">
      <div class="row justify-content-center text-center">
        <div class="col col-sm-12 col-md-8">
          <h3>Step 1</h3>
          <div class="form-group ">
              <select class="custom-select col col-sm-12" [(ngModel)]="department" (change)="filterItems()">
                <!-- <option [value]="''">Select a department...</option> -->
                <option [value]="'Executive'">Executive</option>
                <option [value]="'Senate'">Senate</option>
                <option [value]="'Social'">Social</option>
                <option [value]="'Spiritual'">Spiritual</option>
                <option [value]="'Global Service'">Global Service</option>
                <option [value]="'Marketing'">Marketing</option>
                <option [value]="'Web'">Web</option>
                <option [value]="'Collegian'">The Collegian</option>
                <option [value]="'Video'">Video</option>
                <option [value]="'Photo'">Photo</option>
                <option [value]="'Mountain Ash'">Mountain Ash</option>
                <option [value]="'Atlas'">The Atlas</option>
                <option [value]="'Tread Shed'">The Tread Shed</option>
                <option [value]="'Outdoors'">Outdoors</option>
                <option selected [value]="''">View All</option>
              </select>
          </div>
        </div>
      </div>
    </div>

    <!-- Job Opportunities  -->
    <div id="jobOpps" class="container">
      <div *ngIf="!initialLoad" class="text-center">
        <h3>Step 2</h3>
        <p>
          Choose an opportunity
        </p>
      </div>
      <!-- Cards -->
      <div id="cards" class="row justify-content-center">
        <div *ngFor="let form of filtered" class="col col-sm-12 col-md-6 col-lg-4 col-xl-3 card-deck">
          <div class="card">
          <img *ngIf="form.image != ''" class="card-img-top" src="{{form.image}}" alt="Card image cap">
            <div class="card-block">
              <h3 class="card-title">{{form.job_name}}</h3>
              <h6 class="card-subtitle mb-2 text-uppercase" style="color:#8f8f8f;">{{form.department}}</h6>
	      <p class="card-text">{{shorten(form.job_description)}}
                </p>
              <a [routerLink]="['/submit', form.jobID]" class="btn">View Opportunity</a>
            </div>
          </div>
        </div>
          <div *ngIf="filtered.length == 0 && !initialLoad" class="col col-sm-12 col-md-6 col-lg-3 text-center text-danger">
            <p> No results found.</p>
          </div>
      </div>
    </div>
  </div>
</div>
