<!--Lets replace mountain rents with outdoors/mountain-rents,
    we could setup a link that always redirects to the currently
    open outdoors trip signup, or make that a dynamic component,
    that section may be best at the top just beneath upcoming.

    Collegian should have the non-parallax section currently
    filled with the we are aswwu text, there could be a link to
    the current issue.

    atlas would be at the bottom in a parallax section,
    there could be a link to the atlas booking form as well.

    The background images for the atlas and mountain-rents/outdoors
    may need to be replaced. I don't know what the rights are on those
    images and suspect that we don't own them.-->

<!-- ASWWU Logo -->
<div
  id="aswwuLogo"
  class="center-content"
  [style.backgroundImage]="bgLinkChanged"
>
  <!-->[ngStyle]="{ 'background-image': bgLinkChanged }">-->
  <div class="container">
    <div class="center-content w-100">
      <img
        class="aswwu-logo"
        src="https://aswwumask.com/media/images/ASWWU_logo_full.png"
      />
    </div>
    <super-duper
      class="center-content w-100"
      style="margin-top: 3rem"
    ></super-duper>
    <hr />
  </div>
</div>
