<!--Lets replace mountain rents with outdoors/mountain-rents,
    we could setup a link that always redirects to the currently
    open outdoors trip signup, or make that a dynamic component,
    that section may be best at the top just beneath upcoming.

    Collegian should have the non-parallax section currently
    filled with the we are aswwu text, there could be a link to
    the current issue.

    atlas would be at the bottom in a parallax section,
    there could be a link to the atlas booking form as well.

    The background images for the atlas and mountain-rents/outdoors
    may need to be replaced. I don't know what the rights are on those
    images and suspect that we don't own them.-->

<!-- ASWWU Logo -->
<div id="aswwuLogo" class="center-content" [style.backgroundImage]="bgLinkChanged"><!-->[ngStyle]="{ 'background-image': bgLinkChanged }">-->
    <div class="container">
      <div class="center-content w-100">
        <img class="aswwu-logo" src="https://aswwu.com/media/images/ASWWU_logo_full.png"/>
      </div>
        <!-- <super-duper class="center-content w-100" style="margin-top: 3rem;"></super-duper> -->
        <hr>
        <a href="https://vote.gov/"> 
          <h5 class="text-center text-uppercase text-white">Click here to learn how to vote!</h5><br />
        </a>
    </div>
</div>

<!-- upcoming -->
<section id="upcoming">
    <div class="container">
      <h1 class="text-center text-uppercase">upcoming</h1>
      <hr>
      <div class="row">
        <div class="col-md-6 offset-md-3 text-xs-center">
          <div _ngcontent-c5="" class="alert alert-secondary" role="alert">
            ASWWU is hiring! Check out open positions at <a _ngcontent-c5="" class="alert-link" href="https://aswwu.com/jobs/">aswwu.com/jobs</a>.
          </div>
          <p>
            <upcoming></upcoming>
          </p>
        </div>
      </div>
    </div>
</section>

<!--Middle Sections-->
<section id="large">
  <div class="center-content flex-container-large">
    <!--Outdoors/Mountain Rents-->
    <div class="flex-item text-center col-md-6 outdoors">
      <h1 class="text-white text-uppercase">Outdoors / Rents</h1><br />
      <a class="btn btn-outline-secondary btn-lg giant-link giant-white" href="https://go.theflybook.com/book/848/ListView/5008#/base/848/8e33652e-e586-4ce9-a83a-058235ee1041/listview" target="_blank">Upcoming Trips</a>
    </div>
    <!--Collegian-->
    <div class="flex-item text-center col-md-6 collegian">
      <div class="center-content w-100"><img class="logo" src="https://aswwu.com/media/images/home_page/collegian-logo.png" /></div>
      <a href="https://www.aswwucollegian.com" class="btn btn-outline-secondary btn-lg giant-link giant-black">Read More</a>
    </div>
    <!--Atlas-->
    <div class="flex-item text-center col-md-6 atlas">
      <div class="center-content w-100"><img class="logo" src="https://aswwu.com/media/images/home_page/atlas-logo.png" /></div><br />
      <a class="btn btn-outline-secondary btn-lg giant-link giant-white" href="https://aswwu.com/atlas" >Check it out</a>
    </div>
  </div>
</section>

<section id="medium">
  <div class="center-content flex-container-medium">
    <!--Outdoors/Mountain Rents-->
    <div class="flex-item text-center col-md-6 outdoors">
      <h1 class="text-white text-uppercase">Outdoors / Rents</h1>
      <a class="btn btn-outline-secondary btn-lg giant-link giant-white" href="https://go.theflybook.com/book/848/ListView/5008#/base/848/8e33652e-e586-4ce9-a83a-058235ee1041/listview" target="_blank">Upcoming Trips</a>
    </div>
    <!--Atlas-->
    <div class="flex-item text-center col-md-6 atlas">
      <div class="constrain-height">
        <div class="center-content w-100"><img class="logo" src="https://aswwu.com/media/images/home_page/atlas-logo.png" /></div><br />
        <a class="btn btn-outline-secondary btn-lg giant-link giant-white" href="https://aswwu.com/atlas" >Check it out</a>
      </div>
    </div>
  </div>
</section>

<section id="small">
  <div class="center-content flex-container-small">
    <!--Collegian-->
    <div class="flex-item text-center col-md-6 collegian">
      <div class="center-content w-100"><img class="logo" src="https://aswwu.com/media/images/home_page/collegian-logo.png" /></div>
      <a href="https://www.aswwucollegian.com" class="btn btn-outline-secondary btn-lg giant-link giant-black">Read More</a>
    </div>
  </div>
</section>

<!-- Open Forum Section -->
<section id="open-forum">
    <div class="container">
      <h1 class="text-center text-uppercase">ASWWU Forum</h1>
      <hr>
      <div class="row">
        <div class="col-md-6 offset-md-3 text-xs-center">
          <open-forum></open-forum>
        </div>
      </div>
    </div>
</section>
