<!--Lets replace mountain rents with outdoors/mountain-rents,
    we could setup a link that always redirects to the currently
    open outdoors trip signup, or make that a dynamic component,
    that section may be best at the top just beneath upcoming.

    Collegian should have the non-parallax section currently
    filled with the we are aswwu text, there could be a link to
    the current issue.

    atlas would be at the bottom in a parallax section,
    there could be a link to the atlas booking form as well.

    The background images for the atlas and mountain-rents/outdoors
    may need to be replaced. I don't know what the rights are on those
    images and suspect that we don't own them.-->



<!-- ASWWU Logo -->
<div id="aswwuLogo" class="center-content" [style.backgroundImage]="bgLinkChanged"><!-->[ngStyle]="{ 'background-image': bgLinkChanged }">-->
    <div class="container">
      <div class="center-content w-100">
        <img class="aswwu-logo" src="https://aswwu.com/media/images/ASWWU_logo_full.png"/>
      </div>
        <super-duper class="center-content w-100" style="margin-top: 3rem;"></super-duper>
    </div>
</div>

<!-- upcoming -->
<section id="upcoming">
    <div class="container">
      <h1 class="text-center text-uppercase">upcoming</h1>
      <hr>
      <div class="row">
        <div class="col-md-6 offset-md-3 text-xs-center">
          <div _ngcontent-c5="" class="alert alert-secondary" role="alert">
            ASWWU is hiring! Check out open positions at <a _ngcontent-c5="" class="alert-link" href="https://aswwu.com/jobs/">aswwu.com/jobs</a>.
          </div>
          <p>
            <upcoming></upcoming>
          </p>
        </div>
      </div>
    </div>
</section>


<section>
  <div class="center-content flex-container">
    <!--Atlas-->
    <div id="atlas" class="flex-item text-center col-md-6">
      <h1 class="text-white text-uppercase text-giant">Outdoors</h1><br />-->
      <a class="btn btn-outline-secondary btn-lg giant-link giant-white" href="https://go.theflybook.com/book/848/ListView/5008#/base/848/8e33652e-e586-4ce9-a83a-058235ee1041/listview" target="_blank">Upcoming Trips</a>
    </div>
    <!--Collegian-->
    <div id="collegian" class="flex-item text-center col-md-6">

    </div>
    <!--Outdoors/Mountain Rents-->
    <div id="outdoors" class="flex-item text-center col-md-6">

    </div>
  </div>
</section>






<!--&lt;!&ndash; Atlas &ndash;&gt;-->
<!--<div id="atlas" class="center-content" style="background-image: url('https://i.ibb.co/DfPjmVk/Processed-with-VSCO-with-a6-preset.jpg'); background-repeat: no-repeat;background-size: cover;">-->
<!--  <div class="container">-->
<!--    <div class="center-content w-100"><img class="logo" src="" /></div><br />-->
<!--    <a class="btn btn-outline-secondary btn-lg m-x-auto giant-link giant-white" href="https://aswwu.com/atlas">Check it out</a>-->
<!--  </div>-->
<!--</div>-->

<!--&lt;!&ndash; Collegian&ndash;&gt;-->
<!--<section id="collegian" class="container">-->
<!--  <div class="row">-->
<!--    <div id="collegianContainer" class="container text-center col-md-6">-->
<!--      <img class="logo" src="https://static1.squarespace.com/static/5de5d4153e9c044c1ada9080/t/5f757a9ad134f3794ca110f0/1601613310581/?format=1500w" />-->
<!--      <br />-->
<!--      <a href="https://aswwu.com/pages/collegian" class="btn btn-outline-secondary btn-lg giant-link giant-black" target="_blank">Read More</a>-->
<!--    </div>-->
<!--  </div>-->
<!--</section>-->

<!--&lt;!&ndash; ASWWU Outdoors / Mountain Rents &ndash;&gt;-->
<!--<div id="gear" class="center-content">-->
<!--  <div class="flex-container">-->
<!--    <section id="outdoors" class="flex-item text-center col-md-6" style="background-image: url('https://photos.smugmug.com/photos/i-kk6GPjs/0/X2/i-kk6GPjs-X2.jpg');">-->
<!--      <div class="">-->
<!--        <h1 class="text-white text-uppercase text-giant">Outdoors</h1><br />-->
<!--        <a class="btn btn-outline-secondary btn-lg giant-link giant-white" href="https://go.theflybook.com/book/848/ListView/5008#/base/848/8e33652e-e586-4ce9-a83a-058235ee1041/listview" target="_blank">Upcoming Trips</a>-->
<!--      </div>-->
<!--    </section>-->
<!--    <section id="rents" class="flex-item text-center col-md-6">-->
<!--      <div class="">-->
<!--        <h1 class="text-white text-uppercase text-giant">Mountain Rents</h1><br />-->
<!--        <a class="btn btn-outline-secondary btn-lg giant-link giant-white" href="https://go.theflybook.com/book/848/ListView/0#/base/848/288a5943-1b07-4638-b30f-3afe2a81df56/listview" target="_blank">Find Out More</a>-->
<!--      </div>-->
<!--    </section>-->
<!--  </div>-->
<!--</div>-->

<!-- Open Forum Section -->
<section id="open-forum">
    <div class="container">
      <h1 class="text-center text-uppercase">ASWWU Forum</h1>
      <hr>
      <div class="row">
        <div class="col-md-6 offset-md-3 text-xs-center">
          <open-forum></open-forum>
        </div>
      </div>
    </div>
</section>
