<div>
  <div class="container">
    <ul ngbNav #nav="ngbNav" class="tabs">
      <li ngbNavItem>
        <a ngbNavLink>Elections</a>
        <ng-template ngbTabContent>
          <app-admin-elections
            [data]="electionsData"
            [positions]="positionsData"
          ></app-admin-elections>
        </ng-template>
      </li>
      <li ngbNavItem>
        <a ngbNavLink>Positions</a>
        <ng-template ngbTabContent>
          <app-admin-positions [data]="positionsData"></app-admin-positions>
        </ng-template>
      </li>
      <li>
        <a ngbNavLink>Ballots</a>
        <ng-template ngbTabContent>
          <app-admin-ballots
            [electionsData]="electionsData"
            [positionsData]="positionsData"
          ></app-admin-ballots>
        </ng-template>
      </li>
    </ul>
  </div>
</div>
