<div>
  <div class="container">
    <!-- <div *ngIf="!response">
      <h2 class="text-center">No Elections</h2>
    </div> -->

    <div *ngIf="response">
      <div *ngIf="dates['start'] > dates['now']">
        <h1 class="text-center">{{response.name}}</h1>
        <p class="text-center">Starts: {{getDateTime(dates['start'])}}<br/>Ends: {{getDateTime(dates['end'])}}</p>
        <countdown [status]="status" [date]="dates['start']" [now]="dates['now']"></countdown>
      </div>
    </div>
    <div *ngIf="response">
      <div *ngIf="dates['start'] < dates['now']">
        <h1 class="text-center">{{response.name}}</h1>
        <a *ngIf="isLoggedIn" href="elections/vote" class="btn btn-primary btn-block btn-lg" role="button">Vote Now!</a>
        <a *ngIf="!isLoggedIn" class="btn btn-primary btn-block btn-lg" [href]="'https://saml.aswwu.com/?redirectURI=/elections'+ router.url">Log in</a>
        <countdown [status]="status" [date]="dates['end']" [now]="dates['now']"></countdown>
      </div>
    </div>
    <!-- <h3 class="text-center">Primaries are an important step in the ASWWU Executive Elections process that narrows down the number of candidates to 2 individuals per position. Make sure to login with your student account and vote! General Elections will take place one week from today to make the final decisions on winning candidates and the ASWWU administration for next school year.</h3> -->

    <div class="row">
      <div class="column">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/l_Hbn9Xh_L8" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      </div>
      <div class="column">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/Lc_IJetYpQI" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      </div>
    </div>

    <div>
      <hr>
      <h1 class="text-center text-uppercase">President Candidates</h1>
      <hr>
      <div class="text-center">
        <div id='president_candidate' class="row container mx-auto text-center">
          <div *ngFor="let candidate of president_candidates" class="person col">
            <a href="https://aswwu.com/mask/profile/{{candidate.username}}/1920" target="_blank">
              <div class="img-container">
                <img src="https://aswwu.com/media/img-sm/images/elections_candidates/{{candidate.photoURL}}" alt="{{candidate.full_name}}">
              </div>
              <h3 class="name">{{candidate.full_name}}</h3>
              <div class="position">{{candidate.role}}</div>
            </a>
          </div>
        </div>
      </div>
    </div>
    <div>
      <hr>
      <h1 class="text-center text-uppercase">Spiritual VP Candidates</h1>
      <hr>
      <div class="text-center">
        <div id='spiritual_candidate' class="row container mx-auto text-center">
          <div *ngFor="let candidate of spiritual_candidates" class="person col">
            <a href="https://aswwu.com/mask/profile/{{candidate.username}}/1920" target="_blank">
              <div class="img-container">
                <img src="https://aswwu.com/media/img-sm/images/elections_candidates/{{candidate.photoURL}}" alt="{{candidate.full_name}}">              </div>
              <h3 class="name">{{candidate.full_name}}</h3>
              <div class="position">{{candidate.role}}</div>
            </a>
          </div>
        </div>
      </div>
    </div>
    <div>
      <hr>
      <h1 class="text-center text-uppercase">Executive Candidates</h1>
      <hr>
      <div class="text-center">
        <div id='executive_candidate' class="row container mx-auto text-center">
          <div *ngFor="let candidate of executive_candidates" class="person col">
            <a href="https://aswwu.com/mask/profile/{{candidate.username}}/1920" target="_blank">
              <div class="img-container">
                <img src="https://aswwu.com/media/img-sm/images/elections_candidates/{{candidate.photoURL}}" alt="{{candidate.full_name}}">              </div>
              <h3 class="name">{{candidate.full_name}}</h3>
              <div class="position">{{candidate.role}}</div>
            </a>
          </div>
        </div>
      </div>
    </div>
    <div>
      <hr>
      <h1 class="text-center text-uppercase">Social VP Candidates</h1>
      <hr>
      <div class="text-center">
        <div id='social_candidate' class="row container mx-auto text-center">
          <div *ngFor="let candidate of social_candidates" class="person col">
            <a href="https://aswwu.com/mask/profile/{{candidate.username}}/1920" target="_blank">
              <div class="img-container">
                <img src="https://aswwu.com/media/img-sm/images/elections_candidates/{{candidate.photoURL}}" alt="{{candidate.full_name}}">              </div>
              <h3 class="name">{{candidate.full_name}}</h3>
              <div class="position">{{candidate.role}}</div>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
