<div class="container">
  <div *ngIf="currentUser">
    <!-- Job Info Section -->
    <div style="padding-top: 20px">
      <p
        *ngFor="
          let paragraph of formContent[
            formSection.specific
          ].job?.job_description.split('\n')
        "
        style="margin-bottom: 0.25rem"
      >
        {{ paragraph }}&nbsp;
      </p>
      <hr />
      <p
        *ngFor="
          let paragraph of formContent[
            formSection.generic
          ].job?.job_description.split('\n')
        "
        style="margin-bottom: 0.25rem"
      >
        {{ paragraph }}&nbsp;
      </p>
    </div>

    <!-- Appication Question Section -->
    <div id="questions">
      <form (ngSubmit)="onSubmit()" #submitForm="ngForm" id="form{{ formID }}">
        <!-- Generic Questions -->
        <div *ngIf="formContent">
          <h2 style="padding-top: 20px">ASWWU Questions</h2>
          <p>
            These questions will be the same for all of your ASWWU applications
          </p>
          <hr />

          <div class="row">
            <div
              *ngFor="
                let question of formContent[formSection.generic].job?.questions;
                let i = index
              "
              class="form-group"
            >
              <div
                *ngIf="
                  question &&
                  formContent[formSection.generic].application?.answers &&
                  formContent[formSection.generic].application?.answers[i]
                "
              >
                <!-- The first 13 questions in the general form are short answers -->
                <div *ngIf="i <= 13" class="col">
                  <label for="general-short-question-id{{ question?.id }}">{{
                    question.question
                  }}</label>
                  <input
                    [(ngModel)]="
                      formContent[formSection.generic].application?.answers[i]
                        .answer
                    "
                    name="general-short-question-id{{ question?.id }}"
                    type="text"
                    class="form-control"
                    id="general-short-question-id{{ question?.id }}"
                    required
                  />
                </div>
                <!-- The remaining questions in the general form are long answers -->
                <div *ngIf="i > 13" class="col">
                  <label for="general-long-question-id{{ question?.id }}">{{
                    question.question
                  }}</label>
                  <textarea
                    type="text"
                    class="form-control"
                    id="general-long-question-id{{ question?.id }}"
                    required
                    [(ngModel)]="
                      formContent[formSection.generic].application?.answers[i]
                        .answer
                    "
                    name="general-long-question-id{{ question?.id }}"
                  ></textarea>
                </div>
              </div>
            </div>
          </div>
        </div>

        <!-- Specific Questions -->
        <div *ngIf="formContent">
          <h2 style="padding-top: 20px">
            {{ formContent[formSection.specific].job?.job_name }} Questions
          </h2>
          <p>These questions are specific to this application</p>
          <hr />
          <div
            *ngFor="
              let question of formContent[formSection.specific].job?.questions;
              let i = index
            "
            class="form-group"
          >
            <div
              *ngIf="
                question &&
                formContent[formSection.specific].application?.answers &&
                formContent[formSection.specific].application?.answers[i]
              "
            >
              <label for="{{ question?.id }}">{{ question.question }}</label>
              <textarea
                type="text"
                class="form-control"
                id="{{ question?.id }}"
                required
                [(ngModel)]="
                  formContent[formSection.specific].application?.answers[i]
                    .answer
                "
                name="{{ question?.id }}"
              ></textarea>
            </div>
          </div>
        </div>

        <!-- Resume Upload Section -->

        <div>
          <h2 style="padding-top: 20px">Resume</h2>
          <p>Upload your resume with references.</p>
          <hr />
          <div class="input-group">
            <div class="custom-file">
              <input
                type="file"
                class="custom-file-input"
                id="resume"
                ng2FileSelect
                [uploader]="uploader"
                (onFileSelected)="
                  resumeUploadStatus = resumeUploadStatusOptions.upload
                "
                required
              />
              <label class="custom-file-label" for="resume">{{
                uploader.queue[0]?.file?.name || "Choose File"
              }}</label>
            </div>
            <div class="input-group-append">
              <input
                type="button"
                class="btn"
                [ngClass]="{
                  'btn-danger':
                    resumeUploadStatus === resumeUploadStatusOptions.failed,
                  'btn-success':
                    resumeUploadStatus === resumeUploadStatusOptions.success,
                  'btn-primary':
                    resumeUploadStatus === resumeUploadStatusOptions.upload,
                }"
                (click)="uploadResume()"
                value="{{ resumeUploadStatus }}"
                [disabled]="uploader.getNotUploadedItems().length === 0"
              />
            </div>
          </div>
          <small class="form-text text-muted">
            Supported file types are PDF, Word, and Open Office files. Any
            previously submitted documents will be overwritten.
          </small>
        </div>
        <small class="text-danger">{{ errorText }}</small>
        <br />
        <button
          type="submit"
          class="btn btn-success"
          style="margin-top: 20px"
          [disabled]="
            resumeUploadStatus !== resumeUploadStatusOptions.success ||
            !submitForm.form.valid
          "
        >
          {{ submitText }}
        </button>
      </form>
    </div>
  </div>

  <div *ngIf="!currentUser">
    <p>
      This page can only be viewed by someone logged in, please click the button
      to log in:
    </p>
    <a class="btn btn-primary" [href]="buildLoginLink()">Log in</a>
  </div>
</div>
