/*Poly fix for safari*/
.col {
  flex-basis: initial;
  -webkit-flex-basis: initial;
}

/*Font Stuff*/
@import url('https://fonts.googleapis.com/css?family=Roboto');

@font-face {
  font-family: gyre;
  src: url(./media/texgyreheros-bold.otf);
}

/*Main Reset and font configure*/
body, html {
  display: block;
  min-height: 100%;
  min-width: 100%;
  font-family: 'Roboto', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'gyre', sans-serif;
  font-weight: bold;
}

/*Rainbow bars config*/
.side {
  display: block;
  position: fixed;
  background-image: url(./media/ASWWU-jobs-stripes.png);
  top: 0;
  height: 100%;
  width: 7px;
  z-index: 100;
}
#border1 {
  left:0;
}
#border2 {
  right:0;
}

/*Main Mobile fixer*/
@media (min-width: 540px) {
  h1 {
    font-size: 100px;
  }

  h2 {
    font-size: 50px;
  }

  h3 {
    font-size: 25px;
  }
  .side {
    width: 15px;
  }
}

/*Job Opps*/
#searchBar {
  margin-top: 55px;
}

/*Card styles and card button styles */
.card {
  margin-bottom: 10px;
}
.card img {
  object-fit: cover;
}

.admin-answer-review {
  border: solid 1px slategray;
  border-radius: 15px;
  padding: 10px;
}

.adrev-title {
  font-size: 40px;
}

#cards div:nth-child(7n+1) a{
  color: white;
  background-color: #a1d61d;
}
#cards div:nth-child(7n+2) a{
  color: white;
  background-color: #ebe407;
}
#cards div:nth-child(7n+3) a{
  color: white;
  background-color: #f19b21;
}
#cards div:nth-child(7n+4) a{
  color: white;
  background-color: #eb2722;
}
#cards div:nth-child(7n+5) a{
  color: white;
  background-color: #803fa4;
}
#cards div:nth-child(7n+6) a{
  color: white;
  background-color: #4851ac;
}
#cards div:nth-child(7n+7) a{
  color: white;
  background-color: #6bcdb6;
}
