<nav id="jobNav" class="navbar navbar-toggleable-xl navbar-light">
	<button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    	<span class="navbar-toggler-icon"></span>
	</button>
	<a class="navbar-brand" [routerLink]="['/']">
		<img id="logo" src="https://aswwu.com/media/images/ASWWU_logo_dark.png">
	</a>
	<div class="collapse navbar-collapse justify-content-end">
		<div *ngIf="isLoggedIn" class="contain">
			<div ngbDropdown id="bubble-popup">
			    <button id="bubbleicon" ngbDropdownToggle>
			        <div *ngIf="(currentUser?.photo == 'images/mask_unknown.png' || currentUser?.photo == 'None' || !currentUser?.photo)" (click)="displayUserOptions()" class="btn btn-default btn-circle">
			        	{{currentUser?.username.charAt(0).toUpperCase()}}
			        </div>
			       <img *ngIf="!(currentUser?.photo == 'images/mask_unknown.png' || currentUser?.photo == 'None' || !currentUser?.photo)" (click)="displayUserOptions()" class="btn btn-default btn-circle" src="{{getPhotoLink(currentUser.photo)}}">
			    </button>
			    <div class="dropdown-menu" aria-labelledby="bubbleicon">
			    	<button class="btn-default dropdown-item" [routerLink]="['/']">Home Page</button>
			    	<button *ngIf="isAdmin" class="btn btn-default dropdown-item" [routerLink]="['/admin']">Admin Review</button>
			    	<a class="btn btn-default dropdown-item" href="https://aswwu.com/#/profile/{{currentUser?.username}}/update">Update Profile</a>
			    	<a class="btn btn-default dropdown-item" href="mailto:aswwu.webmaster@wallawalla.edu?Subject=ASWWU.com%20Problem">Report a Problem</a>
			        <button class="btn btn-default dropdown-item" (click)="logout()" [routerLink]="'/'">Log Out</button>
			    </div>
			</div>
		</div>
		<a *ngIf="!isLoggedIn" id="loginButton" class="btn" [href]="'https://saml.aswwu.com/?redirectURI=/jobs'">Login</a>
	</div>
</nav>