.contain {
    float: right;
    clear: none;
    width: 100px;
}
.btn-circle {
    width: 50px;
    height: auto;
    text-align: center;
    padding: 0;
    font-size: 24px;
    line-height: 1.42;
    border: none;
    color: #336699;
    cursor: pointer;
}
#bubbleicon {
    background-color: transparent;
    border: none;
    color: transparent;
    z-index: 1;
    border-radius: 50%;
    border: none;
    padding: 0;
    overflow: hidden;
    height: 50px;
    width: 50px;
}
.dropdown-menu {
    width: 150px;
    position: absolute;
    left: -50px;
}

#logo {
    max-width: 240px;
    height: auto;
    padding-left: 45px;
}

#loginButton {
    margin-right: 45px;
    font-family: 'gyre', sans-serif;
    font-weight: bold;
    font-size: 30;
    color: rgb(41,43,44);
}

#loginButton:hover {
    color: rgb(108,114,107);
}

nav {
    border-bottom: 2px solid rgb(220, 220, 222);
}