<div class="container-fluid">
  <div class="align-items-center col" (keyup.enter)="runSearch()" tabindex="0">
    <br />
    <div class="">
      <div class="input-group search-area-border mx-auto">
        <input
          id="mask-search-query"
          class="search-area-element col form-control"
          [(ngModel)]="typedQuery"
          (ngModelChange)="addFirstResult()"
          (selectItem)="runSearch($event)"
          [ngbTypeahead]="typeaheadSearch"
          [focusFirst]="false"
          [resultFormatter]="typeaheadFormatter"
          type="text"
          placeholder="Find the one..."
          tabindex="0"
        />
        <div class="input-group-append my-auto ms-auto">
          <button
            id="mask-search-button"
            class="search-area-element col-1 form-control"
            (click)="runSearch()"
          >
            <i class="fas fa-search"></i>
          </button>
        </div>
      </div>
    </div>
  </div>
  <div>
    <search-results [query]="searchQuery"></search-results>
  </div>
</div>
