<div *ngIf="currentUser" class="bg-dark text-white input-file-format">
  <form [formGroup]="myForm">

    <!--CSV File Upload    -->
    <div>
      <div>CSV File</div>
      <div class="input-group">
        <div class="custom-file">
          <input type='file' class='custom-file-input' id='fileInput' (change)="convertFile($event)"
                 accept="text/csv" ng2FileSelect
                 required
                 [uploader]="uploader"/>
          <label class="custom-file-label"
                 for="fileInput">{{uploader.queue[0]?.file?.name || 'Upload CVS File Here'}}</label>
        </div>
        <div class="input-group-append">
          <input type="button" class="btn">
        </div>
      </div>
    </div>

    <!--Multiple Files Upload-->
    <div *ngIf="csvExists">
      <div>Photo's</div>
      <div class="input-group">
        <div class="custom-file">
          <input formControlName="file" type='file' class='custom-file-input form-control' id='file' multiple=""
                 accept="image/x-png,image/jpeg"
                 (change)="onFileChange($event)" required/>
          <label class="custom-file-label" for="file">Upload Photos Here</label>
        </div>
        <div class="input-group-append">
          <input type="button" class="btn">
        </div>
      </div>
      <div class="scroll-box">
        <span>
          <li class="test" *ngFor='let info of images; let i = index'>Photo: {{info.photo.name}}, Student ID: {{info.studentID}}
            <a [ngStyle]="{'display': images[i].uploaded ? 'inline' : 'none'}">
              <i class="fas fa-check"></i>
            </a>
          </li>
        </span>
      </div>
    </div>
    <br>
    <!--Submit-->
    <button type="submit" class="btn btn-success submit-button" (click)="submit()">Submit</button>
  </form>
</div>
